<footer class="footer text-center">
    <div class="container">
        <section class="copyright">
            <a href="http://fe.meitu.com/">MEITU FE</a>
            <span>&copy; <%= theme.startyear %></span>
        </section>
    </div>
</footer>
