
@import "normalize.scss";
@import "utilities.scss";
@import "animations.scss";
@import "author.scss";
@import "footer.scss";
@import "general.scss";
@import "icon.scss";
@import "media.scss";
@import "pagination.scss";
@import "post.scss";
@import "highlight.scss";


/* Github */
.gist table {
    margin: 0;
    font-size: 1.4rem;
    text-rendering: auto;
}
.gist td {
    line-height: 1.4;
}
.gist .line-number {
    min-width: 25px;
}

/* Pastebin */
.content .embedPastebin {
    margin-bottom: 1.75em;
}

.menu-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    visibility: hidden;
    z-index: 99;
    &.visible {
        visibility: visible;
    }
}
