body {
    margin: 0;
    font-family: $font-famliy;
}

a {
    color: #333;
    text-decoration: none;

    &:active {
        text-decoration: none;
    }
}

code {
    color: #00cc80;
    background: #fafafa !important;
    font-family: $font-famliy-code;
    line-height: 1.5;
    font-size: 14px;
    margin: 1rem 0;
}

.container {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}
