    <footer class="site-footer text-center clearfix">
        <section class="copyright">
            <a href="https://meitufe.github.io">Meitu FE</a> &copy; 2017
        </section>
    </footer>
    </div>
    <%- js('/js/app.js') %>
</body>
</html>
