    <footer class="site-footer text-center clearfix">
        <section class="copyright">
            <a href="https://meitufe.github.io">Meitu FE </a> &copy; 2017
        </section>
    </footer>
    </div>
    <div id="SOHUCS" sid="<%=location.path %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
    <%- js('/dist/js/app.js') %>
</body>
</html>
