    <footer class="site-footer text-center clearfix">
        <section class="copyright">
            <a href="https://justclear.github.io">Just.</a> &copy; 2017
        </section>
    </footer>
    </div>
    <%- js('/dist/js/app.js') %>
</body>
</html>
