
@import "_normalize.scss";
@import "_utilities.scss";
@import "_animations.scss";
@import "_author.scss";
@import "_footer.scss";
@import "_general.scss";
@import "_icon.scss";
@import "_media.scss";
@import "_pagination.scss";
@import "_post.scss";
@import "_highlight.scss";


/* Github */
.gist table {
    margin: 0;
    font-size: 1.4rem;
    text-rendering: auto;
}
.gist td {
    line-height: 1.4;
}
.gist .line-number {
    min-width: 25px;
}

/* Pastebin */
.content .embedPastebin {
    margin-bottom: 1.75em;
}

.menu-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    visibility: hidden;
    z-index: 99;
    &.visible {
        visibility: visible;
    }
}
