<%- partial('partial/header') %>

<header class="main-header no-cover">
    <%- partial('partial/navigator') %>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">404</h1>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
<main class="content" role="main">
    <article class="post">

    </article>
</main>

<%- partial('partial/footer') %>
